/** CSS synthax and CSS declaration**/

body, p {
  background-color:lightpink;
  color: navy;
  text-align:center;
  font-family:Comic Sans MS; 
}

p {
 font-size:24px;
}


img {
  border:solid;
  width:500px;
  border-radius:20px
}

a {
 text-align:right;
  color: green;
  display:flex;
  font-size:20px;
}


h1 {
  font-size:34px;
  font-weight:bold;
}

h2, ul, ol {
  text-align:left;
}

ol {
  font-size:24px;

}